@tailwind base;
@tailwind components;
@tailwind utilities;

.sliding-enter {
  transform: translateX(100%);
  opacity: 0;
}

.sliding-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.sliding-exit {
  transform: translateX(0);
  opacity: 1;
}

.sliding-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideIn 0.5s forwards;
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-from-top {
  animation: slideInFromTop 0.5s forwards;
}

.glass {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.shadowCss {
  border-radius: 50px;
  /* background: #e0e0e0; */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
